.rating {
    min-height: 100px;
}

.textArea {
    min-width: 75%;
    height: 100%;
}

.checkBoxList {
    /* display: inline-block; */
    /* position: relative; */
}

input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

b {
    margin-top: 10px;
}

label {
    padding: 10px;
}
.checkBoxList div {
    display: inline-block;
}

.checkBoxList div:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkBoxList div:nth-child(1) {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-65%, -50%);
}

.checkBoxList div:nth-child(3) {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-35%, -50%);
}


.inputValue {
    padding-left: 10px;
    display: inline-block;
    font-weight: bold;
}

input[type="number"] {
    text-align: right;
    max-width: 10%;
}