.rating {
    min-height: 100px;
}

.textArea {
    min-width: 75%;
    height: 100%;
}

.checkBoxList {
    /* display: inline-block; */
    /* position: relative; */
}

.checkBoxList div {
    display: inline-block;
}

.checkBoxList div:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkBoxList div:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-65%, -50%);
}

.checkBoxList div:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-35%, -50%);
}

/* .checkBoxes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* .maxMin {
    display: inline-block;
    position: relative;
} */

/* .center {
    position: absolute;
} */