.wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 5em;
}

.success {
    /* background-color: #84c20e; */
    /* border-color: #84c20e; */
    opacity: 1;
}

.hidden {
    display: none;
}